<template>
  <vs-col class="main-layout" style="padding-top: 60px; height: 100%;" vs-xs="12" vs-lg="8">
    <div class="flex-container-row">

      <vs-alert title="Network Error" close-icon="close" :active.sync="alertActive" color="danger" closable>
        Your internet connection seems unstable, posting to youtube would not work.
      </vs-alert>

      <div class="flex-item" style="width: 40%">
        <div style="padding: 20px 0px; display: flex;">
          <form @submit="addYoutubeLink">
            <vs-textarea id="v-step-0" class="input" placeholder="Add Youtube Links" v-model="youtubeLink" />
            <vs-button color="primary" type="gradient">Add Link</vs-button>
          </form>
        </div>
        <vs-list id="v-step-1">
          <vs-list-header title="Youtube Link Ids" />
          <template v-for=" (item, index) in youtubeLinks">
            <vs-list-item :key="index" :title="item" />
          </template>
        </vs-list>
      </div>

      <div class="flex-item" style="width: 60%;">
        <div class="flex-container-col">

          <div style="padding: 20px 0px">
            <form @submit="postMainComment">
              <vs-textarea id="v-step-2" class="input" placeholder="Enter Main Comment" v-model="mainComment" />
              <vs-button color="primary" type="gradient">Post Main Comment</vs-button>
            </form>
          </div>

          <div style="padding: 20px 0px">
            <form @submit="postFollowUpComment">
              <vs-textarea id="v-step-3" class="input" placeholder="Enter Follow Up Comments" v-model="followUpComment" />
              <vs-button color="primary" type="gradient">Post Follow Up Comment</vs-button>
            </form>
          </div>

        </div>
      </div>

    </div>
    <v-tour name="youPostrTour" :steps="tourSteps" :callbacks="tourCallbacks"></v-tour>
  </vs-col>
</template>

<script>
import notificationMixin from "../mixins/notificationMixin";
import tourMixin from "../mixins/tourMixin";
import { mapGetters, mapState } from "vuex";
import { postTopLevelComment, postFollowUpComment } from "../poster";
import { handleClientLoad, authorizeUser, signOutUser } from "../oauth";

export default {
  mixins: [
    // the notificationMixin handles all the notification functionality
    notificationMixin,
    // the tourMixin handles all tour related functionality
    tourMixin
  ],

  data() {
    return {
      alertActive: false,
      youtubeLink: "",
      mainComment: "",
      followUpComment: "",
      youtubeLinks: [],
      topCommentIds: []
    };
  },

  computed: {
    ...mapGetters(["googleAuth", "networkError"]),
    ...mapState(["signedIn"])
  },

  created() {
    handleClientLoad();
  },

  watch: {
    networkError(value) {
      if (value.state) {
        this.alertActive = true;
      }
    }
  },

  methods: {
    addYoutubeLink(e) {
      e.preventDefault();

      if (this.youtubeLink == "") {
        return this.notifyNoYoutubeLinkError();
      }

      if (!this.youtubeLink.match(/youtube\.com/)) {
        this.youtubeLink = "";
        return this.notifyInvalidYoutubeLinkError();
      }

      let videoId = this.youtubeLink.split("=")[1];

      if (typeof videoId == "undefined") {
        this.youtubeLink = "";
        return this.notifyInvalidYoutubeLinkError();
      }

      if (this.youtubeLinks.indexOf(videoId) > -1) {
        // videoId has already been added before
        this.youtubeLink = "";
        return this.$vs.notify({
          title: "Link Has been Added",
          text: "Enter another Link",
          color: "secondary",
          position: "top-right"
        });
      }

      this.youtubeLinks.push(videoId);
      this.youtubeLink = "";
    },

    postMainComment(e) {
      e.preventDefault();
      if (this.signedIn) {
        // if user is signed in from a previous session
        signOutUser();
      }

      if (this.mainComment == "") {
        return this.notifyCommentError();
      }
      if (this.youtubeLinks.length == 0) {
        return this.notifyNoYoutubeLinkError();
      }

      authorizeUser()
        .then(() => {
          let postFunctions = [];
          this.youtubeLinks.forEach(link => {
            postFunctions.push(postTopLevelComment(link, this.mainComment));
          });
          Promise.all(postFunctions)
            .then(responses => {
              let authorDisplayName =
                responses[0].snippet.topLevelComment.snippet.authorDisplayName;
              this.notifyPostingSuccess(authorDisplayName);
              responses.forEach(result => {
                this.topCommentIds.push(result.id);
              });
            })
            .catch(error => {
              this.notifyPostingError(error[0].error.message);
            });
        })
        .catch(error => {
          if (error.error) {
            this.notifyPostingError(error.error);
          } else {
            this.notifyPostingError(error);
          }
        });
    },

    postFollowUpComment(e) {
      e.preventDefault();
      signOutUser();

      if (this.followUpComment == "") {
        return this.notifyCommentError();
      }
      if (this.topCommentIds.length == 0) {
        return this.notifyNoTopCommentError();
      }

      authorizeUser()
        .then(() => {
          let postFunctions = [];
          this.topCommentIds.forEach(id => {
            postFunctions.push(postFollowUpComment(id, this.followUpComment));
          });
          Promise.all(postFunctions)
            .then(responses => {
              let authorDisplayName = responses[0].snippet.authorDisplayName;
              this.notifyPostingSuccess(authorDisplayName);
            })
            .catch(error => {
              this.notifyPostingError(error[0].error.message);
            });
        })
        .catch(error => {
          this.notifyPostingError(error);
        });
    }
  }
};
</script>

<style scoped>
.flex-container-row {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
}
.flex-container-col {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}
.flex-item {
  padding: 10px;
  width: 50%;
  min-height: 400px;
}
.input {
  width: 100%;
}
.diff {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
</style>
