<template>
  <vs-navbar type="border" class="nabarx">

    <img :src="logo" class="img" target:href="{mailto:newsfirstnigeria@gmail.com?subject=I%20Love%20YouPostr}" alt="Logo">

    <vs-tooltip text="Your way to youtube" position="bottom">
      <vs-navbar-title class="navbar-title">
        You Postr
      </vs-navbar-title>
    </vs-tooltip>

    <vs-spacer></vs-spacer>

    <vs-navbar-item index="0">
      <a id="v-step-4" href="mailto:newsfirstnigeria@gmail.com?subject=Suggestion%20For%20YouPostr">Suggestion</a>
    </vs-navbar-item>
    <vs-navbar-item index="1">
      <a href="mailto:newsfirstnigeria@gmail.com?subject=Want%20For%20More%20Tools">More Tools</a>
    </vs-navbar-item>
  </vs-navbar>
</template>

<script>
import logo from "../assets/logo.png";
export default {
  data() {
    return {
      logo
    };
  }
};
</script>


<style scoped>
.img {
  width: 30px;
  height: 30px;
}
.nabarx {
  padding: 10px;
  position: fixed;
  background: white !important;
}
.navbar-title {
  font-family: "Montserrat" !important;
}
</style>
