<template>
  <div id="app">
    <app-toolbar />
    <you-postr />
  </div>
</template>

<script>
import AppToolbar from "@/components/AppToolbar";
import YouPostr from "@/views/YouPostr";

export default {
  components: {
    AppToolbar,
    YouPostr
  }
};
</script>


<style>
html,
body {
  height: 100%;
}
#app {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  color: #2c3e50;
  /* height: 100%; */
  min-height: 100vh;
}
@media only screen and (min-width: 600px) {
  .main-layout {
    margin-left: 16.6667% !important;
  }
}
.inputx {
  width: 100% !important;
  margin-bottom: 10px;
  height: 40px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
